body {
    padding-top: 70px;
}

body, html {
    background-color: #efefef;
}

.container:nth-child(2) {
    padding: 0 !important;
    margin: 20px auto 20px;
    width: 90%;
    max-width: 1250px;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15), 0px 3px 6px rgba(0, 0, 0, 0.15);
}

.container:nth-child(3) {
    max-width: 1250px;
}

main {
    padding: 10px 20px 15px 20px;
}

.alert {
    margin-bottom: 0;
}

header {
    background: #eee;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
}

@media (max-width: 900px) {
    header {
        height: 220px;
    }
}

.profile-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    width: 220px;
    height: 220px;
    object-fit: cover;
    margin-top: -125px;
    border: 4px solid #fff;
    border-radius: 50%;
}

.stats {
    text-align: center;
}

.gallery {
    margin-top: 26px;
}

.gallery div {
    margin-bottom: 22px;
}

.gallery img {
    cursor: pointer;
    max-width: 100%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15), 0px 3px 6px rgba(0, 0, 0, 0.15);
}